@import "tailwindcss";
@import "katex/dist/katex.min.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.katex { font-size: 1.05em !important; }
